    <nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation" id="footerBar">
        <div class="container">
<!--             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" id="footerTable">
                    <li><a id = "aboutLink" href="#about">About</a>
                    </li>
                    <li><a>|</a>
                    </li>
                    <li><a id = "contactLink" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="titleContainer">
        <div class="row" id="title">
            <h1 id = "titleText">
              Meanwhile In...
            </h1>
<!--             <button type="button" onclick="submitForm()" id="button">Search!</button> -->
        </div>
    </div>
    <div class="container">
        <div class="row" id="polaroid">
          <button type="button" onclick="submitForm()" id="button">Explore!</button>
            <div class="col-lg-6" id="picContainer">
                <%= image_tag "instagram_example.jpg", :alt => "Snapshot", :id => "pic"%>
            </div>
            <div id="captionSpace">
                <p id="caption">Go forth and explore the World! Having Fun!</p>
            </div>
        </div>
<!--         <div class="row" id="captionRow">
            <div class="col-lg-6" id="captionColumn">
              <div id="captionSpace">
                <p id="caption">Go forth and explore the World! Having Fun!</p>
              </div>
            </div>
        </div> -->
    </div>
    <!-- JavaScript -->
    
    <script>
      function changePic(path){
        $('#pic').attr('src',path); 
      }
      function changeCaption(text){
        $('#caption').text(text); 
      }
      function changeTitle(text){
        $('#titleText').text("Meanwile In..." + text); 
      }


       function submitForm() {
            //alert("checked the button - worked");
            $.ajax({
                 type:'get', 
                 url: '/meanwhile/index', 
                 data: $.param({ text: $("#textBox").val()}),
                 success: function (data) {
                  console.log(data);
                  // alert(data.url);
                  changePic(data.url);
                  changeCaption(data.caption);
                  changeTitle(data.text)
                 }
            });
       }
    </script>
