    <nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a>|</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div class="row" id="polaroid">
            <!--<div class="col-lg-6 col-sm-12">-->
            <div class="col-lg-6">
                <%= image_tag((!(defined?(action)) || action[:url].nil?) ? "instagram_example.jpg" : action[:url],:alt => "Snapshot", :id => "pic")%>                
                

                <!--<%= form_tag('meanwhile/search', remote: true) do %>
                  <br>
                  <%= text_field_tag('text', nil, value: "Charleston, SC") %>
                  <%= submit_tag("Search") %>-->



                <% end %>                
            </div>
        </div>
        <div class="row">
            <!--<div class="col-lg-6 col-sm-12">-->
            <div class="col-lg-6">
                <h1 style='visibility: hidden;'>Filler</h1>
                <button type="button" onclick="submitForm()">Send data</button>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    
    <script>
      function submitForm() {
        alert("checked the button - worked");
        $.ajax({
             type:'POST', 
             url: '/meanwhile/search', 
             data: $.param({ text: "New York, NY"})
        });
      }


      // function submitForm() {
      //       alert("checked the button - worked");
      //       $.ajax({
      //            type:'POST', 
      //            url: '/meanwhile/search/', 
      //            data: $.param({ text: "New York, NY"}),
      //            success: function (data) {
      //               alert('data')
      //               /*$.each(data, function(key, value) {
      //                 alert(key + ", " + value)*/
      //               }
      //             });
      //       };
    </script>


