<div id="bodyContainer">
  <div class="row" id="titleRow">
    <div id="titleWrapper">
      <h1 id = "titleText">Meanwhile In: </h1>
        <%= text_field_tag "textBox", nil, autofocus: true, name: "searchBox",
          value: @data.text, onfocus: "this.value = this.value;"%>
    </div>
  </div>
  <div id="picContainer">
    <div id="picSubcontainer">
      <table id="picTable">
        <tr>
          <td>
            <div>
              <%= image_tag @data.url, alt: @data.username, id: "pic1",
               class: "pic", onclick: "getNewPic()"%>
              <%= image_tag "waiting.gif", alt: "Loading...", id: "waiting1", class: "waiting"%>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="captionSpace">
              <%= content_tag(:p, @data.caption, class: "caption") %>
            </div>
          </td>
        </tr>
      </table>
      <div id="background-polaroid"></div>
    </div>
  </div>
</div> 