<div id="bodyContainer">
        <div class="row" id="titleRow">
            <div id="titleWrapper">
              <h1 id = "titleText">Meanwhile In: </h1>
              <input type="text" name="searchBox" id="textBox" autofocus value="Brooklyn" onfocus="this.value = this.value;">
            </div>
        </div>
    <div id="picContainer">
      <div id="picSubcontainer">

    <table id="picTable1">
      <tr>
        <td>
          <div>
              <%= image_tag "instagram_example.jpg", :alt => "Snapshot", :id => "pic1", :class => "pic", :onclick => "submitForm()"%>
            <%= image_tag "waiting.gif", :alt => "Loading...", :id => "waiting1", :class => "waiting"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        <div class="captionSpace">
            <p class="caption">Go forth and explore the World! Having Fun!</p>
        </div>
        </td>
      </tr>
    </table>

    <table id="picTable2">
      <tr>
        <td>
          <div>
              <%= image_tag "instagram_example.jpg", :alt => "Snapshot", :class => "pic", :onclick => "submitForm()"%>
              <%= image_tag "waiting.gif", :alt => "Loading...", :class => "waiting"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        <div class="captionSpace">
            <p class="caption">Go forth and explore the World! Having Fun!</p>
        </div>
        </td>
      </tr>
    </table>


    </div>
  </div>
</div>

    <!-- JavaScript -->
    
    <script>
      function changePic(path){
        $('#pic1').attr('src',path);
        $('#pic1').load(function(){
          $('#waiting1').css('visibility','hidden');
        });
      }
      function changeTextbox(text){
        $('#textBox').val(text); 
        $('#textBox').focus();
      }
      function submitForm() {
            $('.waiting').css('visibility','visible');
            $.ajax({
                 type:'get', 
                 url: '/meanwhile/index', 
                 data: $.param({ text: $("#textBox").val(), refresh: true}),
                 success: function (data) {
                  // console.log(data);
                  changePic(data.url);
                  $('.caption').text(data.caption); 
                  changeTextbox(data.text);
                 }
            });
      }

      $('document').ready(function(){
        $('#textBox').keypress(function(e){
          if(e.which == 13){        //Enter key pressed
              $('#pic1').click();    //Trigger search button click event
          }
        });

        // $('#textBox').focus();
        // $('#textBox').select();
      })
    </script>
