<div id="bodyContainer">
    <div id="titleContainer">
        <div class="row" id="title">
            <h1 id = "titleText">
              Meanwhile In...
            </h1>
        </div>
        <form name="search">
          <input type="text" name="searchBox" id="textBox" value="Brooklyn">
        </form>
    </div>
    <div id="picContainer">

    <table id="picTable">
      <tr>
        <td>
          <div id="polaroid">
              <%= image_tag "instagram_example.jpg", :alt => "Snapshot", :id => "pic", :onclick => "submitForm()"%>
            <%= image_tag "waiting.gif", :alt => "Loading...", :id => "waiting"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        <div id="captionSpace">
            <p id="caption">Go forth and explore the World! Having Fun!</p>
        </div>
        </td>
      </tr>
    </table>
    </div>
</div>
<nav role="navigation" id="footerBar">
  <div id="footerDiv">
    <a class = "footerLinks" href="https://github.com/corbinpage/meanwhile-in" target="_blank">About</a>
    <div class = "footerText">|</div>
    <a class = "footerLinks" href="https://twitter.com/corbin_page" target="_blank">Contact</a>
  </div>  
</nav>

    <!-- JavaScript -->
    
    <script>


      function changePic(path){
        $('#pic').attr('src',path); 
      }
      function changeCaption(text){
        $('#caption').text(text); 
      }
      function changeTitle(text){
        $('#titleText').text("Meanwile In..." + text); 
      }
      function overlaySpinner(){
        $('#waiting').css('visibility','visible');
      }

       function submitForm() {
            overlaySpinner();
            $.ajax({
                 type:'get', 
                 url: '/meanwhile/index', 
                 data: $.param({ text: $("#textBox").val(), refresh: true}),
                 success: function (data) {
                  console.log(data);
                  changePic(data.url);
                  $('#waiting').css('visibility','hidden');
                  changeCaption(data.caption);
                  changeTitle(data.text)
                 }
            });
       }
    </script>
