<div id="bodyContainer">
    <div id="titleContainer">
        <div class="row" id="title">
            <h1 id = "titleText">
              Meanwhile In...
            </h1>
        </div>
    </div>

    <div id="picContainer">
    <table id="picTable">
      <tr>
        <td>
          <!-- <button type="button" onclick="submitForm()" id="button">Explore!</button> -->
          <div id="picContainer">
              <%= image_tag "instagram_example.jpg", :alt => "Snapshot", :id => "pic", :onclick => "submitForm()"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
        <div id="captionSpace">
            <p id="caption">Go forth and explore the World! Having Fun!</p>
        </div>
        </td>
      </tr>
    </table>
    </div>
</div>

<nav role="navigation" id="footerBar">
  <div id="footerLinks">
  <a id = "aboutLink" href="https://github.com/corbinpage/meanwhile-in" target="_blank">About</a>
  |
  <a id = "contactLink" href="https://twitter.com/corbin_page" target="_blank">Contact</a>
  </div>  
</nav>

    <!-- JavaScript -->
    
    <script>
      function changePic(path){
        $('#pic').attr('src',path); 
      }
      function changeCaption(text){
        $('#caption').text(text); 
      }
      function changeTitle(text){
        $('#titleText').text("Meanwile In..." + text); 
      }
      function overlaySpinner(){
        // Add the code here to overlay the spinner
      }



       function submitForm() {
            overlaySpinner();
            $.ajax({
                 type:'get', 
                 url: '/meanwhile/index', 
                 data: $.param({ text: $("#textBox").val()}),
                 success: function (data) {
                  console.log(data);
                  changePic(data.url);
                  changeCaption(data.caption);
                  changeTitle(data.text)
                 }
            });
       }
    </script>
