/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *     
 *= require_self
 */ 

  * {
    margin: 0;
  }

  table {
    border-spacing: 0px;
  }

  body {
    background: none;
    background: url(paper-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  #titleRow {
    width: 100%;
  }

  #titleWrapper {
      text-align: center;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto; 
      display: table;
      white-space: nowrap;
      overflow: hidden;
  }

  #titleText {
    color: #7F2A06;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto; 
  }

  #textBox {
    color: #7F2A06;
    font-family: 'Oleo Script Swash Caps', cursive;
    background-color: rgba(255,255,255,0.5); 
    border: 3px solid rgba(255,255,255,0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; 
    border-radius: 4px;
  }

  #bodyContainer {
    /*margin-top: 10px;*/
    margin-bottom: 35px;
    width:100%;
    height:100%;
  }

  #picContainer {
    width:100%;
  }

  #picSubcontainer {
    margin-top: 20px;
    display: table;
    overflow: auto; 
  }

  #picTable {
    position: absolute;
    z-index: 2;
    -moz-transform: rotate(-.5deg);
    -webkit-transform: rotate(-.5deg);
    -ms-transform: rotate(-.5deg);
    -o-transform: rotate(-.5deg);
    transform: rotate(-.5deg);
  }

  .pic {
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    border-radius: 3px;
    -webkit-box-shadow: 2px 0px 4px 1px #888;
    -moz-box-shadow: 2px 0px 4px 1px #888;
    box-shadow: 2px 0px 4px 1px #888;
    z-index: 0;
    background-color: #E3E3E3;
    padding: 1px;
    clear:both;
    cursor:pointer;
  }

  .waiting {
    position: relative;
    z-index:5;
    visibility:hidden;
  }

  .captionSpace {
    visibility: hidden;
    width: 100%;
    display: block;
    position: relative;
    text-overflow: ellipsis;
  }

  .caption {
    visibility: visible;
    position: relative;
    display: block;
    text-overflow: ellipsis;
  }

  #background-polaroid {
    position: absolute;
    z-index: 1;
    visibility: visible;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    border-radius: 3px;
    -webkit-box-shadow: 2px 0px 4px 1px #888;
    -moz-box-shadow: 2px 0px 4px 1px #888;
    box-shadow: 2px 0px 4px 1px #888;
    -moz-transform: rotate(2.5deg);
    -webkit-transform: rotate(2.5deg);
    -ms-transform: rotate(2.5deg);
    -o-transform: rotate(2.5deg);
    transform: rotate(2.5deg);
  }

  #footerBar {
    background-color: #7F2A06;
    border-color: #7F2A06;
    width:100%;
    height:35px;
  }

  #footerDiv{
    width:130px;
    margin-left: auto;
    margin-right: auto;
  }

  .footerText {
    color:  #999;
    font-family:sans-serif;
    line-height: 20px;
    text-decoration:none;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px
  }

  .footerLinks {
    color:  #999;
    font-family:sans-serif;
    line-height: 20px;
    text-decoration:none;
    float:left;
    margin-top: 10px
  }

  .footerLinks:hover{
    color:white;
  }

@media screen and (min-device-width: 768px) {

  #titleText {
    font-size: 50px;
  }

  #textBox {
    width: 250px;
    display: inline;
    font-size: 50px;
    text-indent: 5px;
  }

  .pic {
    height: 480px;
    width: 480px;
    border: 40px solid #fafafa;
    border-bottom: 115px solid #fafafa;
  }

  .waiting {
    margin-left: 216px;
    margin-right: 216px;
    margin-top: 216px;
    margin-bottom: 216px;
    height: 128px;
    width: 128px;
  }

  #background-polaroid {
    width: 566px;
    height: 644px;
  }

  #picSubcontainer {
    width: 562px;
    height: 637px;
    margin-left: auto;
    margin-right: auto;
  }

  .captionSpace {
    margin-top: 30px;
    height: 115px;
  }

  .caption {
    margin-top: -75px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    max-width: 450px;
  }


}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){

  #titleText {
    font-size: 40px;
  }

  #textBox {
    width: 80%;
    display: block;
    font-size: 40px;
    text-indent: 3px;
    margin-left: auto;
    margin-right: auto; 
  }

  .pic {
    height: 240px;
    width: 240px;
    border: 20px solid #fafafa;
    border-bottom: 58px solid #fafafa;
  }

  .waiting {
    margin-left: 108px;
    margin-right: 108px;
    margin-top: 108px;
    margin-bottom: 108px;
    height: 64px;
    width: 64px;
  }

  #background-polaroid {
    width: 283px;
    height: 322px;
  }

  #picSubcontainer {
    width: 270px;
    height: 360px;
    margin-left: 5%;
  }

  .captionSpace {
    margin-top: 10px;
    height: 58px;
  }

  .caption {
    margin-top: -35px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10px;
    max-width: 240px;
  }


}