* {
  margin: 0;
}

body {
	background: none;
  background: url(paper-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#titleText {
  color: #7F2A06;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 72px;
  text-align:center;
}

#bodyContainer {
  margin-top: 10px;
  margin-bottom: 90px;
  width:100%;
}

#picContainer {
  width:100%;
}

#picTable {
  margin-left: auto;
  margin-right: auto;
/*  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);*/
}


#polaroid {
  overflow: visible;
}

#pic {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 40px solid #fafafa;
  border-bottom: 115px solid #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
  border-radius: 3px;
  -webkit-box-shadow: 2px 0px 4px #888;
  -moz-box-shadow: 2px 0px 4px #888;
  box-shadow: 2px 0px 4px #888;
  height: 480px;
  width: 480px;
  z-index: 0;
  background-color: #E3E3E3;
  padding: 1px;
  clear:both;
}

#waiting {
  position: relative;
  margin-left: 216px;
  margin-right: 216px;
  margin-top: 216px;
  margin-bottom: 216px;
  height: 128px;
  width: 128px;
  z-index: 2;
  visibility:hidden;
}

#captionSpace {
  visibility: hidden;
  margin-top: 30px;
  width: 100%;
  height: 115px;
  display: block;
  position: relative;
/*  background-color:white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  z-index: 1;*/
}

#caption {
  visibility: visible;
  position: relative;
  display: block;
  margin-top: -75px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 16px;
  max-width: 450px;
}

#textBox {
  display: inline;

}

#footerBar {
  background-color: #7F2A06;
  border-color: #7F2A06;
  width:100%;
  height:35px;
  /*text-align: center;*/
}

#footerDiv{
  width:130px;
  margin-left: auto;
  margin-right: auto;
  /*text-align: center;*/
}

.footerText {
  color:  #999;
  font-family:sans-serif;
  line-height: 20px;
  text-decoration:none;
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px
}

.footerLinks {
  color:  #999;
  font-family:sans-serif;
  line-height: 20px;
  text-decoration:none;
  float:left;
  margin-top: 10px
}

.footerLinks:hover{
  color:white;
}