body {
	margin-top: 10px;
	margin-bottom: 100px;
	background: none;
  background: url(paper-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#polaroid {
    height:720px;
    background-color:white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

#pic {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-top: 55px;
  border-bottom: 188px;
  border-left: 46px;
  border-right: 46px; 
}

#input {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#titleText {
  color: #7F2A06;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 72px;
  text-align:center;
}

#footerTable {
  margin-left: auto;
  margin-right: auto;
}

#button {
  margin-left: 800px;
}




