* {
  margin: 0;
}

body {
	background: none;
  background: url(paper-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#bodyContainer {
  margin-top: 10px;
  margin-bottom: 90px;
}

#picContainer {
  width:100%;
}

#picTable {
  margin-left: auto;
  margin-right: auto;
}

#pic {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 40px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
  border-radius: 3px;
  -webkit-box-shadow: 2px 0px 4px #888;
  -moz-box-shadow: 2px 0px 4px #888;
  box-shadow: 2px 0px 4px #888;
  height: 510px;
  width: 510px;
  z-index: 0;
}

/*
  overflow:auto;
  background-color: #C2C2C2;
  padding: 1px;

#picOutline {
  border: 5px solid black;
  background-color: #C2C2C2;
  overflow:auto; 
  z-index: -1;
}*/

#waiting {
  position: relative;
  margin-left: 231px;
  margin-right: 231px;
  margin-top: 231px;
  margin-bottom: 231px;
  height: 128px;
  width: 128px;
  z-index: 2;
  visibility:hidden;
}

#captionSpace {
  margin-top: -8px;
  width: 100%;
  height: 115px;
  background-color:white;
  display: block;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  z-index: 1;
}

#caption {
  position: relative;
  display: block;
  margin-top: -25px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 16px;
  max-width: 450px;
}


#titleText {
  color: #7F2A06;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 72px;
  text-align:center;
}

#footerBar {
  background-color: #7F2A06;
  border-color: #7F2A06;
  width:100%;
  height:35px;
  /*text-align: center;*/
}

#footerDiv{
  width:130px;
  margin-left: auto;
  margin-right: auto;
  /*text-align: center;*/
}

.footerText {
  color:  #999;
  font-family:sans-serif;
  line-height: 20px;
  text-decoration:none;
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px
}

.footerLinks {
  color:  #999;
  font-family:sans-serif;
  line-height: 20px;
  text-decoration:none;
  float:left;
  margin-top: 10px
}

.footerLinks:hover{
  color:white;
}